*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}

.menu-item {
    border-right: 2px solid white;
}
.intro{

}
.intro-img{
    width: 200px;
    height: 200px;
    flex: 2;
    padding: 10px;
}
.intro-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.intro-content{
    padding: 16px;
flex: 3;
}
.intro-content p {
    font-size: 12px;
    line-height: 20px;
    
}